body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
	position: relative;
	height: 100%;
}

.wrapper header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.wrapper section {
	position: fixed;
    height: 100%;
    top: 80px;
    width: 100%;
}

.wrapper footer {
	position: fixed;
    height: 35px;
    bottom: 0;
    width: 100%;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

.m-t-5 {margin-top: 5px;}

.navbar { 
	margin: 0 0 -1px;
	padding: 10px 0 20px;
	background-color: #1E2542; 
	border-radius: 0;
	border: 0px;
}
.navbar ul li a {
	padding: 5px 15px;
	color:#858585;
}
.navbar ul li.active a {
	color:#fff;
	border-bottom: 2px solid #fff;
}
.nav>li>a:focus, 
.nav>li>a:hover {
	color:#fff;
	background: none;
}
.navbar ul li a:hover {
	background: none;
	color: #fff;
}
.navbar-center {
	width: 570px;
	margin: 10px auto 0 !important;
	float: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: #4b4f73;
	color: #fff;
	border: 0;
}
.navbar-toggle {
	border: 1px solid #eaeaea;
	color: #eaeaea;
}
.navbar-right {margin-top: 5px;}
.dropdown-menu {
	background: #333b5d;
	border: 0px;
}

.mode-map {
	padding: 10px 0;
	background: rgba(35, 43, 78, 0.9);
	color: #CBCBCB;
	font-size: 12px;
}
.mode-map span {
	display: inline-block;
	margin-right: 5px;
}
.mode-map a {
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
	background: #323B5D;
	color: #A4A2A2;
}
.mode-map a:hover,
.mode-map a:focus {
	text-decoration: none;
	color: #fff;
}
.mode-map .active {
	background: #4B4F74;
	color: #fff;
}

.map{
	background: url("../img/map.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.map-operacional{
	background: url("../img/map-operacional.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.map-operacional-vazamentos{
	background: url("../img/map-vazamentos.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.map-operacional-pressao{
	background: url("../img/map-pressao.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.map-operacional-recomendacao{
	background: url("../img/map-recomendacao.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.info-pointer {
	width: 500px;
	background: rgba(35, 43, 78, 0.95);
	padding: 20px;
    position: fixed;
    right: 0;
    bottom: 35px;
    top: 126px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.info-pointer::-webkit-scrollbar { width:10px; }
.info-pointer::-webkit-scrollbar-track { background:#1c2340; }
.info-pointer::-webkit-scrollbar-thumb { border-radius:10px; background: #141d3a; }

.header-info {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #424A6F;
}

.header-info h1 {
	margin: 0;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
}
.header-info small {
	font-size: 12px;
	color: #929292;
}

.content-info h2 {
	margin: 0;
	font-size: 15px;
	font-weight: 300;
	color: #E7E7E7;
}
.content-info small {
	display: block;
	margin-top: 5px;
	font-size: 13px;
	color: #929292;	
}
.content-info span {
	display: block;
	margin-top: 5px;
	font-size: 15px;
}
.color-green {color: #8EC635;}
.content-info .img-graph {
	display: block;
	width: 100%;
	margin-top: 20px;
}

.dock {
	position: fixed;
    bottom: -8px;
    left: 40%;
	background: #232B4E;
	width: 270px;
    padding: 0px 0 33px 0;
    z-index: 2;
    border-radius: 5px;
}
.dock ul {
	list-style: none;
	padding: 10px 0 0 0;
}
.dock ul li {
	display: inline-block;
	margin: 0 20px;
	max-width: 120px;
}
.dock ul li a{
	display: block;
	text-align: center;
	opacity: 0.5;
	line-height: 1;
}
.dock ul li.active a,
.dock ul li a:hover {
	opacity:1;
	text-decoration: none;
	transition: all linear 0.25s;
}
.dock ul li a span{
	display: block;
	color: #fff;
	margin-top: 5px;
}
.button-dock {
	width: 100%;
	text-align: right;
	margin-bottom: -20px;
}
.button-dock a {display: inline-block;}
.button-dock img {display: block;}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

footer {
	background: rgba(35, 43, 78, 0.9);
	padding: 10px 0;
	color: #777777;
	font-size: 11px;
}
footer a {color: #777777;}
footer a:hover {color: #fff;}

/*Modal Style */
.modal-content {
	max-width: 500px;
	margin: 100px auto 0;
	background: #f5f5f5;
}
.modal-content .form-control {
	box-shadow: 0 0 0;
}
.modal-content select {margin: 10px 0;}
.modal-content .input-group-addon {
	background: #fff;
	color: #9a9a9a;
}
.modal-title {
	margin: 0;
    font-size: 15px;
    font-weight: 900;
}
.modal-footer {
	padding-top: 0;
	border-top: 0;
}
.modal-footer button{
	display: block;
	width: 200px;
	margin: 0 auto 10px;
}

.info-numbers {
	overflow: hidden;
	padding: 0 13px 0;
}

.each-info-numbers {
	text-align: center;
    background: #1c2340;
    margin: 2px 0;
}

.each-info-numbers h2{
	margin:20px 0 0;
    font-size: 11px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #7e7e80 !important;
}

.each-info-numbers b {
    font-size: 25px;
    color: #fff;
    display: block;
    margin: 5px 0;
}

.each-info-numbers a {
	display: block;
	overflow: hidden;
	padding: 0 20px;
}

.each-info-numbers a:hover,
.sm-info .each-info-numbers:hover {
	background-color: #4B4F74;
	text-decoration:none;
}

.each-info-numbers a:hover h2 {
	color:#fff !important;
}
.each-info-numbers a:focus, .each-info-numbers a:active {
	outline: none; 
	text-decoration: none;
}
.progress {
	height: 40px;
	background-color: #141d3a;
}

.progress-bar {
	background-color: #0094b9;
	box-shadow: 0 0 0;
    padding-top: 10px;

}

.each-graph {
	overflow: hidden;
	margin: 20px 0 60px 0;
}

.no-padding {padding: 0 !important;}

.each-info-numbers-modal {
	text-align: center;
    border: 1px solid #ccc;
}

.each-info-numbers-modal h2{
	margin:20px 0 0;
    font-size: 10px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #adadad !important;
}

.each-info-numbers-modal b {
    font-size: 20px;
    color: #3a4b77;
    display: block;
    margin: 5px 0;
}

.each-info-numbers-modal .progress {background: #dedede;}

.first-info-modal {padding: 71px 15px;}

.each-info-numbers-modal ul {padding:19px 30px 20px;}
.second-info-actions-modal ul {
	padding:25px 30px;
}
.each-info-numbers-modal ul li {color: #868686;}

.lg-info {
    padding-top: 5px;
    padding-bottom: 5px;
}
.md-info {
    padding-top: 50px;
    padding-bottom: 50px;
}
.sm-info { padding: 0 0 0 4px !important;}
.sm-info b { font-size: 20px; }
.sm-info .progress { height: 20px; }
.sm-info .progress-bar { padding-top: 0px; }

/** Login **/
.wrapper-login{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	background: url('../img/bg-login.png');
}

.box-login {
	width: 300px;
	margin: 0 auto;
}

.logo-login {
	width: 101px;
	margin: 100px auto 20px;
}
.form-login {margin-top: 40px;}
.form-login .input-group {margin-bottom: 5px;}
.form-login label {color: #a7a7a7;}

.form-login .input-group-addon {
    border: 0;
    background: #1b223c;
    color: #42518e;
    padding: 15px;
}

.form-login .form-control {
    border: 0;
    border-radius: 0;
    background: #1b223c;
    color: #fff;
    height: 44px;
}

.form-login .form-control:focus,
.form-login .form-control:active {
	box-shadow: 0 0 0;
	outline: none !important;
}

.form-login .btn {
    width: 100%;
    padding: 13px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    background: #69b356;
    border: 0;
    color: #fff;
}

.form-login a {
	display: block;
	margin-top: 30px;
	text-align: center;
	color:  #fff;
}
.form-login a:hover {color: #fff;}

/*Operacional*/
#dock-operacional {
	width: 620px;
	left: 30%;
}

.expand-button {
	display: inline-block;
	margin-top: 2px;
    padding: 5px 10px;
    background: #323B5D;
    color: #A4A2A2;
}
.expand-button:hover, .expand-button:focus, .expand-button:active {
	transition: all linear 0.25s;
	color: #fff;
}
.expanded {
	width: 100% !important;
	z-index: 15;
}

.select-time {
	display: block;
	width: 170px;
	border-radius: 0 !important;
	height: 32px;
    background: #323B5D;
    color: #A4A2A2;
    border: 0px;
    float: right;
}

.close-button {
	display: block;
	margin-top: -2px;
	color: #3c4979;
}
.close-button:hover, .close-button:active, .close-button:focus{
	transition: all linear 0.25s;
	color: #fff;
	text-decoration: none;
}
.timeline-select {padding: 0 20px;}

.ui-widget-content {background: #141d3a !important;}
.ui-widget.ui-widget-content {border: 1px solid #141d3a !important;}
.content-info span {margin-top: 1px !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 1px solid #4e5982 !important;
    background: #323b5d !important;
    outline: none;
}
.ui-widget-header{background: #414f88 !important;}

.timeline{
	padding: 10px 0 0 0;
	list-style-type: none;
}
.timeline li{
	display: inline-block;
	width: 24%;
	text-align: center;
}
.timeline li a {
	color: #A4A2A2;
}
.timeline li a:hover{
	transition: all linear 0.25s;
	color: #fff;
	text-decoration: none;
}

.lg-btn {
	display: block;
	width: 200px;
	margin: 40px auto 0;
	padding: 10px 15px;
    background: #323B5D;
    color: #A4A2A2;
	font-size: 12px;
	text-align: center;
}
.lg-btn:hover, .lg-btn:active, .lg-btn:focus{
	transition: all linear 0.25s;
	color: #fff;
	text-decoration: none;
	background-color: #414f88;
}

.lg-btn-light {
	display: block;
	width: 200px;
	margin: 40px auto 0;
	padding: 10px 15px;
    background: #4B4F74;
    color: #A4A2A2;
	font-size: 12px;
	text-align: center;
}
.lg-btn-light:hover, .lg-btn:active, .lg-btn:focus{
	transition: all linear 0.25s;
	color: #fff;
	text-decoration: none;
	background-color: #4B4F74;
}

.form-vazamentos {
	padding: 0 20px;
}

.form-vazamentos label {
	font-weight: 500;
	color: #A4A2A2;
	font-size: 14px;
}
.form-vazamentos .form-control {
	background-color: #323b5d;
	border:  0;	
	color: #fff;
	border-radius: 0;
	margin: 10px 0 10px 7px;
}
.form-vazamentos .form-control[type=number]{
	width: 60px;
}
.notification{    
	position: fixed;
    z-index: 10;
    top: 126px;
    padding: 20px 110px 22px;
    border-radius: 0;
    color: #fff;
    right: 41%;
    width: 440px;
    text-align: center;
}
.notification-success {background: #56b065;}
.notification-error {background: #e06e5b;}

.legend {
	position: fixed;
    z-index: 10;
    background: rgba(35, 43, 78, 0.95);
    top: 136px;
    left: 10px;
    padding: 20px 20px 10px;
}
.legend h3{
	margin: 0 0 15px;
	color: #A4A2A2;
	font-size: 13px;
	text-align: center;
	font-weight: 900;
}
.legend ul {
	list-style: none;
	padding: 0;
}

.legend ul li {
	border-left: 10px solid;
	padding: 5px 0;
	color: #A4A2A2;
}

.info-recomendacao {
	margin-bottom: 20px;
	color: #A4A2A2;
	text-align: center;
	padding: 8px 0px 50px 0; 
}

.info-recomendacao h3 {
    font-size: 20px;
    color: #fff;
    display: block;
    margin: 28px 0 0 0 !important;
    font-weight: 900;
}

.info-recomendacao span {
    font-size: 9px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #7e7e80 !important;
}

.fechada{
	background: url("../img/icon-fechada.png") 165px 10px no-repeat;
}
.aberta{
	background: url("../img/icon-aberta.png") 173px 10px no-repeat;
}

/* Gráficos */
.graphs {
	background-color: #252f56;
	margin-top: -34px;
    padding: 110px 30px;
}
.dropdown-filter {
    max-width: 285px;
    background: #181e35;
    padding: 15px;
    margin: 0 auto;
}
.dropdown-filter:before {
    content: " ";
    display: block;
    width: 10px;
    border:10px solid transparent; 
    border-bottom: 10px solid #181e35;
}
.dropdown-filter input {
    border-radius: 0 !important;
    background: #323B5D;
    border-color: #323B5D;
    color: #fff;
}
.dropdown-filter input:hover,
.dropdown-filter input:focus,
.dropdown-filter input:active {box-shadow: 0 0 0;}

.dropdown-filter button,
.dropdown-filter button:hover,
.dropdown-filter button:focus,
.dropdown-filter button:active,
.dropdown-filter button:active:focus,
.dropdown-filter button:active:hover {
    border-radius: 0;
    background: #323b5d;
    border-color: #323b5d;
    color: #fff;
    box-shadow: 0 0 0;
    outline: none;
}
.dropdown-filter p{
	font-size: 13px;
	margin: 10px 0;
	color:  #969696;
}
.dropdown-filter hr {border-top: 1px solid #242c4e;}
.dropdown-filter ul {
    list-style: none;
    padding-left: 10px;
    -webkit-padding-start: 10px;
}
.dropdown-filter ul li {
	margin: 5px 0;
	border-bottom: 1px solid #242c4e;
	padding: 0 0 5px 0;
}

.dropdown-filter ul li a{
	color:  #a0a0a0;
}
.dropdown-filter ul li a:hover,
.dropdown-filter ul li a:active,
.dropdown-filter ul li a:focus {
	color: #fff;
	text-decoration: none;
}

.box-buttons-filter {
	padding: 5px 10px 0;
	overflow: hidden;
}
.box-buttons-filter .btn-default,
.box-buttons-filter .btn-default:hover,
.box-buttons-filter .btn-default:active,
.box-buttons-filter .btn-default:active:hover,
.box-buttons-filter .btn-default:active:focus,
.box-buttons-filter .btn-default:focus {
	background-color: transparent;
	padding: 0;
	margin-top: 10px;
	color: #a0a0a0;
	border:  0;
}

.btn-filter {
	background: #323B5D;
	color: #a0a0a0;
}

#local-filters,
#compare-filters,
#time-filters,
#save-filters{
	position: fixed;
	z-index: 30;
	top: 116px;
	right: 0;
	bottom: 0;
	left: 0;
}
#local-filters .dropdown-filter:before {
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: -10px;
}
#compare-filters .dropdown-filter:before {
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 78px;
}
#time-filters .dropdown-filter:before {
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 154px;
}

#save-filters .dropdown-filter{
    margin: 0;
    margin-right: 30px;
    float: right;
}

#save-filters .dropdown-filter:before {
    margin-top: -30px;
    margin-bottom: 10px;
    margin-left: 55px;
}

.empty-state {
	padding: 30px 0 0 0;
	text-align: center;
}
.empty-state span{
	color:  #5b6db1;
	font-size: 60px;
}
.empty-state h2 {
	font-size: 21px;
    color: #5b6db1;
    font-weight: 900;
}
.empty-state p {
	color: #5b6db1;
    font-size: 16px;
    width: 290px;
    margin: 0 auto;
}

.graphs-results .content-info {
	height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.content-info::-webkit-scrollbar { width:10px; }
.content-info::-webkit-scrollbar-track { background:#1c2340; }
.content-info::-webkit-scrollbar-thumb { border-radius:10px; background: #141d3a; }

.graphs-results .content-info .img-graph {
	display: block;
	width: 30%;
	margin: 25px auto 0;
}