body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
	position: relative;
	height: 100%;
}

.wrapper header {
	width: 100%;
	position: relative;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
}

.wrapper section {
	position: fixed;
    height: 100%;
    top: 80px;
    width: 100%;
}

.wrapper footer {
	position: fixed;
    height: 35px;
    bottom: 0;
    width: 100%;
}

p {
  font-size: 1.3em;
  line-height: 1.5em;
}

.m-t-5 {margin-top: 5px;}

.navbar { 
	margin: 0 0 -1px;
	padding: 10px 0 20px;
	background-color: #1E2542; 
	border-radius: 0;
	border: 0px;
}
.navbar ul li a {
	padding: 5px 15px;
	color:#858585;
}
.navbar ul li.active a {
	color:#fff;
	border-bottom: 2px solid #fff;
}
.nav>li>a:focus, 
.nav>li>a:hover {
	color:#fff;
	background: none;
}
.navbar ul li a:hover {
	background: none;
	color: #fff;
}
.navbar-center {
	width: 470px;
	margin: 10px auto 0 !important;
	float: none;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
	background: #4b4f73;
	color: #fff;
	border: 0;
}
.navbar-toggle {
	border: 1px solid #eaeaea;
	color: #eaeaea;
}
.navbar-right {margin-top: 5px;}
.dropdown-menu {
	background: #333b5d;
	border: 0px;
}

.mode-map {
	padding: 10px 0;
	background: rgba(35, 43, 78, 0.9);
	text-align: center;
	color: #CBCBCB;
	font-size: 12px;
}
.mode-map span {
	display: inline-block;
	margin-right: 5px;
}
.mode-map a {
	display: inline-block;
	margin: 0;
	padding: 5px 10px;
	background: #323B5D;
	color: #A4A2A2;
}
.mode-map a:hover,
.mode-map a:focus {
	text-decoration: none;
	color: #fff;
}
.mode-map .active {
	background: #4B4F74;
	color: #fff;
}

.map{
	background: url("../img/map.png") center center no-repeat;
	background-size: cover;
	overflow: hidden;
}

.info-pointer {
	width: 500px;
	background: rgba(35, 43, 78, 0.95);
	padding: 20px;
	margin-top: 120px;
}

.header-info {
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #424A6F;
}

.header-info h1 {
	margin: 0;
	font-size: 15px;
	font-weight: 900;
	color: #fff;
}
.header-info small {
	font-size: 12px;
	color: #929292;
}
.content-info h2 {
	margin: 0;
	font-size: 15px;
	font-weight: 300;
	color: #E7E7E7;
}
.content-info small {
	display: block;
	margin-top: 5px;
	font-size: 13px;
	color: #929292;	
}
.content-info span {
	display: block;
	margin-top: 5px;
	font-size: 15px;
}
.color-green {color: #8EC635;}
.content-info .img-graph {
	display: block;
	width: 100%;
	margin-top: 20px;
}

.dock {
	position: fixed;
	bottom: 0;
	background: #232B4E;
	width: 530px;
    padding: 0px 0 33px 0;
    position: fixed;
    bottom: 0;
    left: 32%;
    z-index: 2;
    border-radius: 5px;
}
.dock ul {
	list-style: none;
	padding: 10px 0 0 0;
}
.dock ul li {
	display: inline-block;
	margin: 0 20px;
}
.dock ul li a{
	display: block;
	text-align: center;
	opacity: 0.5;
}
.dock ul li.active a,
.dock ul li a:hover {
	opacity:1;
	transition: all linear 0.25s;
}
.dock ul li a span{
	display: block;
	color: #fff;
}
.button-dock {
	width: 100%;
	text-align: right;
}
.button-dock a {display: inline-block;}
.button-dock img {display: block;}

.rotated {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg); /* IE 9 */
  -moz-transform: rotate(180deg); /* Firefox */
  -webkit-transform: rotate(180deg); /* Safari and Chrome */
  -o-transform: rotate(180deg); /* Opera */
}

footer {
	background: rgba(35, 43, 78, 0.9);
	padding: 10px 0;
	color: #777777;
	font-size: 11px;
}
footer a {color: #777777;}
footer a:hover {color: #fff;}